html {
	box-sizing: border-box;
	font-family: sans-serif;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

main {
	position: relative;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	margin: 25px auto;
	height: calc(100vh - 50px);
	min-width: 260px;
	width: calc(100% - 100px);
}

input[type='text'],
select {
	border: none;
	box-shadow: inset 1px 1px 5px #999;
	border-radius: 0;
	height: 20px;
	line-height: 20px;
}

input[type='text'] {
	padding: 0 4px;
}

button {
	border-radius: 0;
	border: none;
	cursor: pointer;
	background-color: #ccc;
	height: 20px;
	line-height: 20px;
}

button:hover {
	background-color: #aaa;
}

.list-filter,
.list-pages {
	background-color: #ececec;
	padding: 10px;
	height: 40px;
	display: flex;
	align-items: center;
}

.list-page {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	background-color: #fafafa;
	height: calc(100% - 80px);
	overflow: auto;
}

.list-single-employee {
	padding: 5px;
	margin: 10px;
	width: 200px;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	position: relative;
}

.employee-avatar {
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.employee-name,
.employee-title {
	margin-top: 0;
	margin-bottom: 10px;
}

.employee-title {
	color: rgba(0, 0, 0, 0.5);
	font-size: 14px;
	font-weight: normal;
}

.employee-name,
.employee-title,
.employee-title > div {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.employee-bio {
	height: 200px;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.15);
	box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.25);
	padding: 5px;
	overflow-wrap: break-word;
}

.employee-color {
	position: absolute;
	top: 25px;
	right: 5px;
	width: 125px;
}

.employee-label {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 125px;
}

.page-btn {
	cursor: pointer;
	padding: 0 5px;
	height: 20px;
	line-height: 20px;
}

.page-btn.active {
	font-weight: bold;
	pointer-events: none;
}

.page-btn:hover {
	background-color: #ccc;
}

.maxed-avatar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.maxed-avatar-container {
	max-width: 100%;
	max-height: 100%;
}

.spinner-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.spinner {
	border: 3px solid transparent;
	border-top-color: #aaa;
	border-bottom-color: #aaa;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation-name: spin;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
